.relampagos {
  color: blue;
}
.delete {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  color: black;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border-color: blue;
}
